<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Fill the details of your new listing: </h3>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="post">
        <input name="listing[title]" type="text" value="<%= listing.title %>">
        <br>
        <textarea name="listing[description]" rows="5" cols="100"><%= listing.description %></textarea>
        <br>
        <input type="listing[text]" name="image" value="<%= listing.image %>">
        <br>
        <input name="listing[price]" type="number" value="<%= listing.price %>">
        <br>
        <input name = "listing[location]" type="text" value="<%= listing.location %>">
        <br>
        <input type="text" name="listing[country]" value="<%= listing.country %>">
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>